<%- model_class = Institution.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:city) %></th>
      <th><%= model_class.human_attribute_name(:region) %></th>
      <th><%= model_class.human_attribute_name(:postal_code) %></th>
      <th><%= model_class.human_attribute_name(:country) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @institutions.each do |institution| %>
      <tr>
        <td><%= link_to institution.name, institution_path(institution) %></td>
        <td><%= institution.address %></td>
        <td><%= institution.city %></td>
        <td><%= institution.region %></td>
        <td><%= institution.postal_code %></td>
        <td><%= institution.country %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_institution_path(institution), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      institution_path(institution),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_institution_path,
            :class => 'btn btn-primary' %>
