<h3>Institutions</h3>
<% Institution.all.each do |institution| %>
  <%= link_to institution.name, institution_path(institution) %><br />
<% end %>

<h3>Teachers</h3>
<% Classroom.all.each do |classroom| %>
  <%= link_to classroom.teacher.first_name, user_path(classroom.teacher_id) %> (<%= classroom.name %>)<br />
<% end %>

<h3>Courses</h3>
<% Classroom.all.each do |classroom| %>
  <%= link_to classroom.name, classroom_path(classroom) %><br />
<% end %>

<h3>Assignments</h3>
<% Assignment.all.each do |assignment| %>
  <%= link_to assignment.name, assignment_path(assignment) %> (<%= assignment.classroom.name %>) <br />
<% end %>

<h3>Quiz</h3>
<% Quiz.all.each do |quiz| %>
  <%= link_to quiz.name, take_quiz_path(quiz) %> <br />
<% end %>
