<!DOCTYPE html>
<html>
<head>
  <title>Imagine Learning</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="span12">
      <%= render 'shared/flash_messages' unless flash.blank? %>
    </div>
  </div>
</div>  
<div class="row">
  <div class="span8">
    <%= yield %>
  </div>
  <div class="span4">
    <div class="account">
      <%= link_to 'Home', root_path %><br />
      <%= link_to 'Institutions', institutions_path %><br />
      <%= link_to 'Users', users_path %><br />
      <%= link_to 'Classrooms', classrooms_path %><br />
      <%= link_to 'Assignments', assignments_path %><br />
      <%= link_to 'Quizzes', quizzes_path %><br />
      <%= link_to 'Questions', questions_path %><br />
      <%= link_to 'Answers', answers_path %><br />
      <%= link_to 'Grade Levels', grade_levels_path %><br />
    </div>
    <iframe src="https://www.facebook.com/plugins/like.php?href=http://0.0.0.0:3000/&amp;send=false&amp;layout=button_count&amp;show_faces=false&amp;action=like&amp;appId="
      scrolling="no" frameborder="0"
      style="border:none; width:75px; height:25px; overflow:hidden;" allowTransparency="true">
    </iframe><br />
    <%= facebook_login_button('small') %>
    <div id="fb-root"></div>
  </div>
</div>
</body>
</html>
<script>
  window.fbAsyncInit = function() {
    FB.init({appId: <%= FACEBOOK_APP_ID %>, status: true, cookie: true, xfbml: true});
  };
  (function() {
    var e = document.createElement('script');
    e.type = 'text/javascript';
    e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
  }());
</script>
