<!DOCTYPE html>
<html>
<head>
  <title>Learning Management System</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="span12">
      <iframe src="https://www.facebook.com/plugins/like.php?href=http://0.0.0.0:3000/&amp;send=false&amp;layout=button_count&amp;show_faces=false&amp;action=like&amp;appId=<%= FACEBOOK_APP_ID %>" scrolling="no" frameborder="0" style="border:none; width:80px; height:20px; overflow:hidden;" allowTransparency="true">
      </iframe><%= facebook_login_button('small') %><div id="fb-root"></div><%= link_to "My Profile", profile_path(@user.id) if logged_in? %><br />
      <%= link_to 'Home', root_path %> |
      <%= link_to 'Institutions', institutions_path %> |
      <%= link_to 'Users', users_path %> |
      <%= link_to 'Classrooms', classrooms_path %> |
      <%= link_to 'Assignments', assignments_path %> |
      <%= link_to 'Quizzes', quizzes_path %> |
      <%= link_to 'Questions', questions_path %> |
      <%= link_to 'Answers', answers_path %> |
      <%= link_to 'Grade Levels', grade_levels_path %>
    </div>
  </div>
</div>  
<div class="container">
  <div class="row">
    <div class="span12">
      <%= render 'shared/flash_messages' unless flash.blank? %>
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
<script>
  window.fbAsyncInit = function() {
    FB.init({appId: <%= FACEBOOK_APP_ID %>, status: true, cookie: true, xfbml: true});
  };
  (function() {
    var e = document.createElement('script');
    e.type = 'text/javascript';
    e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
  }());
</script>
